<!DOCTYPE html>
<!-- <html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> -->

  <body>
    <header>
      <ul>
        <li>
          <%= link_to("投稿一覧", "/posts") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
          <%= link_to("ユーザー一覧", "/users/index") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
