<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li>
          <%= link_to("投稿一覧", posts_path) %>
        </li>
        <li>
          <%= link_to("新規投稿", new_post_path) %>
        </li>
      </ul>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>dive into code © 2021</p>
    </footer>
  </body>
</html>
